<html lang="en">
	<%- include('./partials/head.ejs') %>
<body>

	<% const name = 'sou3ada' %>
	<%- include('./partials/nav.ejs') %>

	<div class="about content">
		<h2>About us</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat voluptas eveniet aperiam iste! Amet dolorum laborum temporibus ipsum tenetur numquam, iure omnis magnam itaque nesciunt placeat exercitationem eligendi totam vitae.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat voluptas eveniet aperiam iste! Amet dolorum laborum temporibus ipsum tenetur numquam, iure omnis magnam itaque nesciunt placeat exercitationem eligendi totam vitae.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat voluptas eveniet aperiam iste! Amet dolorum laborum temporibus ipsum tenetur numquam, iure omnis magnam itaque nesciunt placeat exercitationem eligendi totam vitae.</p>
	</div>
	
	<%- include('./partials/footer.ejs') %>
</body>

</html>