<html lang="en">
	<%- include('./partials/head.ejs') %>

<body>

	<%- include('./partials/nav.ejs') %>
	
	<div class="not-found content">
		Oupsie, page not-found :P
	</div>

	<%- include('./partials/footer.ejs') %>
</body>

</html>