<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>into the tide's letters</title>
</head>

<body>

	<nav>
		<div class="site-title">
			<a href="/"><h1>into the tide's letters</h1></a>
			<p>Meeee website</p>
		</div>
		<ul>
			<li><a href="/"> Blogs</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/blogs/create">New Blog</a></li>
		</ul>
	</nav>

	<div class="not-found content">
		Oupsie, page not-found :P
	</div>

</body>
</html>