<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>into the tide's letters | <%= title %> </title>
</head>

<body>

	<% const name = 'sou3ada' %>
	<nav>
		<div class="site-title">
			<a href="/"><h1>into the tide's letters</h1></a>
			<p>Meeee website</p>
		</div>
		<ul>
			<li><a href="/"> Blogs</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/blogs/create">New Blog</a></li>
		</ul>
	</nav>

	<div class="about content">
		<h2>About us</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat voluptas eveniet aperiam iste! Amet dolorum laborum temporibus ipsum tenetur numquam, iure omnis magnam itaque nesciunt placeat exercitationem eligendi totam vitae.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat voluptas eveniet aperiam iste! Amet dolorum laborum temporibus ipsum tenetur numquam, iure omnis magnam itaque nesciunt placeat exercitationem eligendi totam vitae.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat voluptas eveniet aperiam iste! Amet dolorum laborum temporibus ipsum tenetur numquam, iure omnis magnam itaque nesciunt placeat exercitationem eligendi totam vitae.</p>
	</div>

</body>
</html>